# ---------------------------------------------------
# Python & Virtual Environments
# ---------------------------------------------------
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/

# ---------------------------------------------------
# System & Hidden Files
# ---------------------------------------------------
~$*.xlsx
.DS_Store
Thumbs.db

# ---------------------------------------------------
# Environment Variables & Secrets
# ---------------------------------------------------
.env
